#title {
  background-color: #ff4268;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  padding-bottom: 3rem;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 5.5rem;
}

.nav-item {
  padding: 0 18px;
  align-items: flex-end;
}

.navbar-brand {
  color: white;
  font-family: "Ubuntu";
  /* font-weight: bold; */
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.rotate {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  z-index: 0;
  right: 30%;
}

i {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

/* padding-left: 2rem; */
@media (max-width: 1024px) {
  .rotate {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}

.download-button {
  margin: 5% 3% 5% 3%;
}

.features {
  padding: 7% 15%;
}

h3 {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.kolor {
  /* padding-bottom: 2rem; */
  margin-bottom: 1rem;
  width: 15%;
  color: #ef8172;
}

.kolor:hover {
  color: #ff4c68;
}

.odstep {
  padding: 7%;
  text-align: center;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/* testimonial section */
#testimonials {
  position: relative;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta setion */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 10%;
}

.cta {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  padding: 7% 15%;
  line-height: 4rem;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 10% 15%;
}

.ikonki {
  margin: 20px 10px;
}

.ion-r {
  margin-right: 5px;
}
